<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ecit.cl.wang.sys.dao.MenuDao">

	<!-- 返回类型  -->
	<resultMap type="cn.edu.ecit.cl.wang.sys.po.Menu" id="Menu">
		<result property="sysNm" column="SYS_NM" />
		<result property="menuCd" column="MENU_CD" />
		<result property="menuNm" column="MENU_NM" />
		<result property="menuType" column="MENU_TYPE" />
		<result property="menuUrl" column="MENU_URL" />
		<result property="pmenuCd" column="PMENU_CD" />
		<result property="remark" column="REMARK" />
		<result property="iconFile" column="ICON_FILE" />
		<result property="orderBy" column="ORDER_BY" />
		<result property="isUse" column="IS_USE" />
		<result property="jspUrl" column="JSP_URL" />
	</resultMap>
	<!-- 返回类型  -->
	<resultMap type="cn.edu.ecit.cl.wang.sys.pojo.MenuTree" id="MenuTree">
		<result property="sysNm" column="SYS_NM" />
		<result property="id" column="MENU_CD" />
		<result property="menuNm" column="MENU_NM" />
		<result property="menuType" column="MENU_TYPE" />
		<result property="menuUrl" column="MENU_URL" />
		<result property="parentId" column="PMENU_CD" />
		<result property="remark" column="REMARK" />
		<result property="iconFile" column="ICON_FILE" />
		<result property="orderBy" column="ORDER_BY" />
		<result property="isUse" column="IS_USE" />
		<result property="jspUrl" column="JSP_URL" />
	</resultMap>
	
	<select id="getMenuCdsByRoles" parameterType="java.util.List" resultType="String">
		SELECT distinct T1.MENU_CD
			FROM BASE_ROLE_ATUTH  T1
		LEFT JOIN BASE_MENU T2 ON T1.MENU_CD = T2.MENU_CD
		WHERE T2.IS_USE='1' AND T1.ROLE_ID IN
		<if test="roles!=null and roles.size!=0">
			<foreach collection="roles" item="role" index="index" open="(" separator="," close=")">
				#{role.roleId,jdbcType=NUMERIC}
			</foreach>
		</if>
	</select>
	
	<!-- 根据登陆用户的权限查询可见的菜单(3为按钮权限) -->
	<select id="getPermTree" parameterType="java.util.List" resultMap="MenuTree">
		SELECT 
			t1.SYS_NM,t1.MENU_CD,t1.MENU_NM,t1.MENU_TYPE,t1.MENU_URL,t1.PMENU_CD,t1.REMARK,
			t1.ICON_FILE,t1.ORDER_BY,t1.IS_USE,t1.JSP_URL
		FROM BASE_MENU t1
		where t1.IS_USE='1' and MENU_TYPE!='3'
		<if test="menuCds!=null and menuCds.size!=0">
			AND T1.MENU_CD IN
			<foreach collection="menuCds" item="menuCd" index="index" open="(" separator="," close=")">
				#{menuCd,jdbcType=VARCHAR}
			</foreach>
		</if>
	</select>
	
	<select id="getFirstMenu" resultMap="MenuTree">
		SELECT 
			t1.SYS_NM,t1.MENU_CD,t1.MENU_NM,t1.MENU_TYPE,t1.MENU_URL,t1.PMENU_CD,t1.REMARK,
			t1.ICON_FILE,t1.ORDER_BY,t1.IS_USE,t1.JSP_URL
		FROM BASE_MENU t1
		where t1.IS_USE='1' and MENU_TYPE!='3' and t1.PMENU_CD is null
	</select>
</mapper>