<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ecit.cl.wang.sys.dao.RoleDao">

	<!-- 返回类型  -->
	<resultMap type="cn.edu.ecit.cl.wang.sys.po.Role" id="Role">
		<id property="roleId" column="ROLE_ID" />
		<result property="roleNm" column="ROLE_NM" />
		<result property="roleType" column="ROLE_TYPE" />
		<result property="remark" column="REMARK" />
		<result property="isUse" column="IS_USE" />
		<collection  property="menuCds" ofType="string"/>
		<collection  property="userIds" ofType="long"/>
	</resultMap>
	
	<select id="getMenuCodesByRoleIds">
		SELECT distinct T1.MENU_CD
		FROM BASE_ROLE_ATUTH  T1
		LEFT JOIN BASE_MENU T2 ON T1.MENU_CD = T2.MENU_CD
		WHERE T2.IS_USE='1' AND T1.ROLE_ID IN
		<foreach collection="array" item="roleId" index="index" open="(" separator="," close=")">
			#{roleId,jdbcType=INTEGER}
		</foreach>
	</select>
	
	<select id="getMenuAndRoleCodeList">
		SELECT t2.MENU_CD,t1.ROLE_ID
			FROM BASE_ROLE_ATUTH t1
				INNER JOIN BASE_MENU t2 ON t1.menu_cd=t2.menu_cd AND t2.IS_USE='1'
				INNER JOIN BASE_ROLE t3 ON t1.role_id=t3.role_id AND t3.IS_USE='1'
	</select>
</mapper>