<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ecit.cl.wang.sys.dao.UserDao">

	<!-- 返回类型 -->
	<resultMap type="cn.edu.ecit.cl.wang.sys.po.User" id="User">
		<id property="userId" column="USER_ID" />
		<result property="orgId" column="ORG_ID" />
		<result property="userNm" column="USER_NM" />
		<result property="loginNm" column="LOGIN_NM" />
		<result property="passwd" column="PASSWD" />
		<result property="passwdErr" column="PASSWD_ERR" />
		<result property="phoneNum" column="PHONE_NUM" />
		<result property="address" column="ADDRESS" />
		<result property="ipAddr" column="IP_ADDR" />
		<result property="email" column="EMAIL" />
		<result property="isLock" column="is_LOCK" />
		<result property="signAt" column="SIGN_AT" />
		<result property="lastLoginAt" column="LAST_LOGIN_AT" />
		<result property="remark" column="REMARK" />
		<result property="creator" column="CREATOR" />
		<result property="createAt" column="CREATE_AT" />
		<result property="moder" column="MODER" />
		<result property="modAt" column="MOD_AT" />
		<result property="modCount" column="MOD_COUNT" />
		<result property="isDel" column="IS_DEL" />
	</resultMap>

	<!-- 根据用户LongNm得到id -->
	<select id="getIdByLoginNm" parameterType="java.lang.String"
		resultType="java.lang.Long">
		select USER_ID from base_user where
		login_nm=#{loginNm,jdbcType=VARCHAR}
	</select>

	<!-- 根据用户登陆名，找到用户 -->
	<select id="selectById" resultMap="User" parameterType="java.lang.Long">
		SELECT
		u.USER_ID,u.ORG_ID,o.ORG_NM,u.USER_NM,u.LOGIN_NM,u.PASSWD,u.passwd_err,u.PHONE_NUM,u.ADDRESS,u.ip_addr,u.EMAIL,
		u.is_LOCK,u.sign_at,u.last_login_at,u.REMARK,u.CREATOR,u.CREATE_AT,u.MODER,u.MOD_COUNT,u.MOD_AT,u.IS_DEL
		FROM BASE_USER u
		LEFT JOIN BASE_ORG o on u.ORG_ID = o.ORG_ID
		WHERE
		u.USER_ID=#{userId,jdbcType=NUMERIC} AND u.is_LOCK='0'
	</select>

	<!-- 查询用户是否被锁定 -->
	<select id="isUserLocked" parameterType="java.lang.Long"
		resultType="java.lang.String">
		select is_LOCK from BASE_USER where
		USER_ID=#{userId,jdbcType=NUMERIC}
	</select>

	<!-- 增加密码错误次数 -->
	<update id="updatePassErr" parameterType="java.lang.Long">
		update BASE_USER set
		PASSWD_ERR=PASSWD_ERR+1 where USER_ID=#{userId,jdbcType=NUMERIC}
	</update>

	<!-- 锁定用户 -->
	<update id="updateLockUser" parameterType="java.lang.Long">
		update BASE_USER set
		is_LOCK='1' where USER_ID=#{userId,jdbcType=NUMERIC}
	</update>

	<select id="selectPage" resultMap="User">
		SELECT
		u.USER_ID,u.ORG_ID,o.ORG_NM,u.USER_NM,u.LOGIN_NM,u.PASSWD,u.passwd_err,u.PHONE_NUM,u.ADDRESS,u.ip_addr,u.EMAIL,
		u.is_LOCK,u.sign_at,u.last_login_at,u.REMARK,u.CREATOR,u.CREATE_AT,u.MODER,u.MOD_COUNT,u.MOD_AT,u.IS_DEL
		FROM BASE_USER u
		LEFT JOIN BASE_ORG o on u.ORG_ID = o.ORG_ID
		WHERE u.is_LOCK='0'
		<if test="ew!=null">
			<if test="ew.entity!=null">
				
			</if>
		</if>
	</select>
</mapper>