<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-4.0.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<description>spring的核心配置文件</description>

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务增强 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="count*" read-only="true" />
			<tx:method name="is*" read-only="true" />
			<tx:method name="has*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* cn.edu.ecit.cl.wang.*.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<context:annotation-config />

	<!-- 扫描service包 -->
	<context:component-scan base-package="cn.edu.ecit.cl.wang.**.service.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/global.properties</value>
				<value>classpath:config/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="globalProperties" class="cn.edu.ecit.cl.wang.sys.common.utils.GlobalProperties">
		<property name="projectName" value="${project.name}" />
		<property name="homeUrl" value="${home.url}" />
		<property name="defaultRoleId" value="${defaultRoleId}" />
		<property name="extJsHomePath" value="${ext.js.home.path}" />
		<property name="webappPath" value="${webapp.path}" />
		<property name="storageType" value="${storageType}" />
		<property name="storagePath" value="${storagePath}" />
		<property name="storageMode" value="${storageMode}" />
		<property name="runautotask" value="${runautotask}" />
	</bean>
</beans>